/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/

.tetris-block {
    border-width: 12px;
    border-style: outset;
    padding: 20px;
    display: inline-block;
}

.red {
    background-color: red;
    border-color: crimson;
}

.orange {
    background-color: orange;
    border-color: darkorange;
}

.yellow {
    background-color: yellow;
    border-color: #8B8000;
}

.green {
    background-color: green;
    border-color: darkgreen;
}

.indigo {
    background-color: rgb(13, 0, 130);
    border-color: darkblue;
}

.violet {
    background-color: purple;
    border-color: violet;
}

.hotpink {
    background-color: hotpink;
    border-color: pink;
}

.creamyellow {
    background-color: #FFD800;
    border-color: goldenrod;
}

.cyan {
    background-color: cyan;
    border-color: darkcyan;
}

.darkorange {
    background-color: #D52D00;
    border-color: #bf2800;
}

.LEorange {
    background-color: #EF7627;
    border-color: #b85a1d;
}

.lightorange {
    background-color: lightsalmon;
    border-color: #cd8351;
}

.white {
    background-color: white;
    border-color: lightgrey;
}

.pink {
    background-color: #D162A4;
    border-color: #a14a7d;
}

.dustypink {
    background-color: #B55690;
    border-color: #a64e84;
}

.darkrose {
    background-color: #A30262;
    border-color: #7d014b;
}

.lightblue {
    background-color: #5BCEFA;
    border-color: #489fc2;
}

.specialyellow {
    background-color: #FFD800;
    border-color: #debc02;
}

.lightpurple {
    background-color: #7902AA;
    border-color: #5b0180;
}

.lightgrey {
    background-color: lightgrey;
    border-color: lightslategray;
}

.monochromatic {
    background-color: darkgrey;
    border-color: navy;
}