* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar-content {
    background-color: lightblue;
}

#main-content {
    background-color: lightblue;
}

#main-content h1 {
    text-decoration: underline;
}

#sidebar-content {
    background-color: lightblue;
    flex: 1;
}

#main-content {
    background-color: lightblue;
    flex: 1;
}

#sidebar-content {
    background-color: lightblue;
    width: 200px;
}

#main-content {
    background-color: lightblue;
    width: 1;
}

#sidebar-content {
    background-color: lightblue;
    width: 200px;
    order: 1;
}

#main-content {
    background-color: lightblue;
    flex: 1;
    order: 2;
}

#sidebar-content {
    background-color: peachpuff;
    width: 250px;
    padding: 24px;
    border-right: 2px solid #72a586;
}

#sidebar-content h2 {
    border-bottom: 2px solid #72a586;
    padding-bottom: 8px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    color: #111111;
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

#main-content {
    flex: 1;
    padding: 48px;
}

img {
    width: 300px;
}
