/* Base styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffc7a1; /* Light green background */
  }
  
  .header {
    background-color: #ffa434; /* White header background */
    padding: 20px 0;
  }
  
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    float: left;
  }
  
  .logo img {
    width: 150px;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333; /* Text color */
    font-weight: bold;
    padding: 10px 15px;
  }
  
  nav a:hover {
    background-color: #ddd;
  }
  
  /* Other styles for buttons, forms, etc. (if needed) */
  