/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFD476; /* Lightest color from your palette */
}

#navbar {
  background-color: #DD8640; /* Medium color from your palette */
  color: #fff; /* White for text */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

#navbar #logo img {
  width: 80px; /* Adjust width as needed 11*/
  height: auto; /* Maintain aspect ratio */
  max-height: 80px; /* Ensure it fits within the navbar height */
}

#logo img {
  max-width: 150px; /* Limit logo size */
  height: auto; /* Maintain aspect ratio */
}

.nav-links {
  display: flex;
}

.cta-button {
  background-color: #fff; /* White for button background */
  color: #DD8640; /* Medium color from your palette */
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #DD8640; /* Medium color from your palette */
  border-radius: 5px;
  margin-left: 10px;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #f2f2f2; /* Lighter gray for hover */
  color: #DD8640; /* Medium color from your palette */
}

#layout {
  padding: 2rem;
}

h1, h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #DD8640; /* Medium color from your palette for headers */
}

.menu-item {
  margin-bottom: 1rem; /* Add margin for spacing */
}

/* Responsive media query */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column; /* Stack buttons on small screens */
  }

  .cta-button {
    margin-bottom: 10px; /* Add margin for spacing on small screens */
  }
}

/* Footer styles */
#footer {
  background-color: #DD8640; /* Medium color from your palette */
  color: #fff; /* White for text */
  padding: 1rem 2rem;
  text-align: center;
}

#footer-cta {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; /* Add margin for spacing */
}

.cta-button:hover {
  background-color: #f2f2f2; /* Lighter gray for hover (same as above) */
  color: #DD8640; /* Medium color from your palette (same as above) */
}